@charset "utf-8";

.cloud-icon{
    display: inline-block;
    vertical-align: middle;
    background: url(./images/icons.png);
    width: 22px;
    height: 22px;
}

.txt{
     background-position: 0 22px;
 }

.zip{
     background-position: -23px 22px;
 }

.img{
     background-position: -46px 22px;
 }

.music{
     background-position: -69px 22px;
 }

.other{
     background-position: -92px 22px;
 }

.ppt{
     background-position: -115px 22px;
 }

.media{
     background-position: -138px 22px;
 }

.word{
     background-position: -161px 22px;
 }

.excel{
     background-position: -184px 22px;
 }

.pdf{
     background-position: -207px 22px;
 }

.folder{
     background-position: -230px 22px;
 }
